@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Roboto', sans-serif;
}

.text-gradient {
    background-image: linear-gradient(to right, #19CFFC, #12ECD3);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }